<div class="card mb-2 " *ngIf="toDoItem">

  <!-- <div class="card mb-2"  *ngIf="toDoItem"> -->
  <div class="card-header text-right {{toDoItem.status}}">
    <div class="row">
    <p class="col-10">Status: {{toDoItem.status}}</p>

    <div *ngIf="toDoItem.statusId  == 2" class="col-1">
      <input type="checkbox" name="done" id="done" checked>
    </div>
    <div *ngIf="toDoItem.statusId  == 1" class="col-1">
      <input type="checkbox" name="done" id="done">
    </div>
  </div>
  </div>
  <div class="card-body">
    <h5 class="card-title text-right">Due to: {{toDoItem.date| date:'shortDate'}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{toDoItem.order}}</h6>
    <p class="card-text">{{toDoItem.description}}</p>
    <!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>
