<div class="card mb-2 " *ngIf="toDoItem">


  <div class="card-header  {{toDoItem.status}}">
    <div class="row">
    <p class="col-10">Status: {{toDoItem.status}}</p>

 <button type="button" class="btn btn-success col-6" (click)="edit(toDoItem.id)"><i class="fas fa-edit"></i> edit</button>
      <button type="button" class="btn btn-danger col-6" (click)="delete(toDoItem.id)"><i class="far fa-trash-alt"></i> delete</button>


  </div>
  </div>
  <div class="card-body">
    <h5 class="card-title text-right">Deadline: {{toDoItem.date| date:'shortDate'}}</h5>

    <p class="card-text">{{toDoItem.description}}</p>

  </div>
</div>
