<div class="card mb-2" style="width: 18rem;" *ngIf="toDoItem">
  <div class="card-header">
    Status: {{toDoItem.status}}
    <input type="checkbox" name="done" id="done">
  </div>
  <div class="card-body">
    <h5 class="card-title">Due to: {{toDoItem.date}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{toDoItem.order}}</h6>
    <p class="card-text">{{toDoItem.description}}</p>
    <!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>
