<div class="col-sm-12 col-md-4 col-lg-3 center category" >

  <h2>{{toDoList.name}}</h2>

<div class="container d-flex justify-content-center">
  <button type="button" class="btn btn-success col-sm-6" (click)="edit(toDoList.id)"><i class="fas fa-edit"></i>edit</button>
  <button type="button" class="btn btn-danger col-sm-6" (click)="delete(toDoList.id)"><i class="far fa-trash-alt"></i>delete</button>
</div>
  <app-to-do-item *ngFor="let toDoItem of (toDoItems$ | async)" [toDoItem]="toDoItem" ></app-to-do-item>
</div>
