.category {
  // background-color: pink;
  // margin: 18rem;
  width: 18rem;
  // // width: 20rem;
  // padding: 100px;

  padding-bottom: 20px;
}

.btn-success{
  border-color: black;
  border-radius: 30px;
  border-style: solid;
  border-width: 4px;

  color: black;
  background-color: white;
  box-shadow: 3px 3px white;

  width: 9rem;
  // color: black;
  // background-color: rgb(0, 255, 157);

  // margin: 5px;
}

.btn-danger{
  border-color: black;
  border-radius: 30px;
  border-style: solid;
  border-width: 4px;

  color: black;
  background-color: white;
  box-shadow: 3px 3px white;

  width: 9rem;
  // color: black;
  // background-color: rgb(255, 0, 140);
}

.container{
  width: 18rem;
}
