<div class="container">
  <h2>--- list category ---</h2>
  <app-to-do-item *ngFor="let toDoItem of toDoItems" [toDoItem]="toDoItem" >

  </app-to-do-item>
</div>
<!-- <table class="table" *ngIf="categories && categories.length > 0">
  <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Actions</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let cat of categories">
          <th scope="row">{{cat.id}}</th>
          <td>{{cat.name}}</td>
          <td>
              <button type="button" class="btn btn-success" (click)="edit(cat.id)"><i class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-danger" (click)="delete(cat.id)"><i class="far fa-trash-alt"></i></button>
          </td>
      </tr>
  </tbody>
</table> -->
