.category {
  // background-color: blue;
  // margin: 18rem;
  // // width: 18rem;
  width: 23rem;
  // padding: 100px;
  border-radius: 30px;
  border-color: black;
  border-style: solid;
  border-width: 4px;
  margin: 5px;
  box-shadow: 6px 6px black;
}

.pink {
  color: Black;
  background-color: rgb(255, 121, 143);
}

.blue {
  color: Black;
  background-color: rgb(0, 146, 204);
  box-shadow: 10px 10px black;
}




.rood{
  color: black;
background-color:red;
}

.oranje{
  color: black;
background-color:orange;
}

.geel{
  color: black;
  background-color:yellow;
}

.groen {
  color: Black;
  background-color: rgb(50, 180, 50);
}

.blauw {
  color: Black;
  background-color: rgb(0, 146, 204);
}

.indigo{
  color: black;
  background-color:indigo;
}

.violet {
  color: Black;
  background-color: rgb(168, 1, 168);
}
